MONGODB_URI=mongodb+srv://mayank642work_db_user:H3wJRqeBHcoq7ELs@vectorproject.hvgd7et.mongodb.net/?appName=vectorProject
GEMINI_API_KEY=AIzaSyDmNgQzt-rMbLzgq3KaVWC-CF5EMf9qe0A
DB_NAME=ReaderDb
COLLECTION_NAME=reader_collection
VECTOR_INDEX_NAME=vector_index
